/* ----初期設定解除 ----*/

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

figure {
  padding: 0;
  margin: 0;
}

/* ----共通設定---- */

h1 {
  font-size: 25px;
}

p,
li {
  color: #00263b;
  font-size: 18px;
  line-height: 35px;
}

p,
li,
a {
  font-family: monospace;
}

h1,
h2,
h3,
h4 {
  font-family: system-ui;
}

p {
  margin-bottom: 20px;
}

h1 {
  color: #fce8e1;
  margin-left: 10px;
}

#h2-title {
  width: 100%;

  padding: 50px 0;
  text-align: center;
}

h2 {
  display: inline-block;
  padding: 0px 20px;
  font-size: 40px;
  color: #fce8e1;
  border-bottom: 3px solid #fce8e1;
}

h3 {
  display: inline-block;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fce8e1;
  margin: 0 5% -57px 5%;
  position: relative;
  overflow: hidden;
  padding: 5px 20px 5px 120px;
  word-break: break-all;
  border-top: 3px solid rgb(18, 65, 114);
  border-radius: 20px 0px 0px 0px;
  z-index: 1;
  filter: drop-shadow(2px 2px 2px rgba(0, 40, 61, 0.5));
}

h3 span {
  -webkit-text-stroke: #fce8e1;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 5px 20px;
  color: #fce8e1;
  border-radius: 20px 0 20px 0px;
  background: rgb(18, 65, 114);
}

h4 {
  font-size: 25px;
  border-bottom: solid 3px;
  padding: 5px 50px 5px 0px;
  margin-bottom: 10px;
  display: inline-block;
  color: #00263b;
}

body {
  height: 100%;
  width: 100%;
  background: rgb(18, 65, 114);
  background: linear-gradient(
    180deg,
    rgba(18, 65, 114, 1) 0%,
    rgba(166, 172, 190, 1) 64%,
    rgba(252, 232, 225, 1) 100%
  );
  background-attachment: fixed;
}

.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
}
/* 構造 */
header {
  height: 30px;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 2;
}

#top-visual {
  height: 100vh;
  width: 100%;
}

.tv-quiz {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tv-quiz p:first-child {
  border-bottom: solid 3px #00263b;
  width: 300px;
}

.tv-quiz p {
  color: #00263b;
  font-weight: bold;
}
#quiz-text {
  font-size: 22px;
}

#quiz-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 350px;
  background-color: rgba(252, 232, 225, 0.4);
  border-radius: 175px;
  height: 350px;
}

#top-visual ul {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#top-visual li {
  text-align: center;
}

#top-visual li:first-child {
  margin-left: 0;
}
#top-visual li button {
  background-color: rgba(252, 232, 225, 0.4);
  width: 100%;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
}

#top-visual li button:hover {
  background-color: rgba(252, 232, 225, 0.6);
}

#top-visual li button:disabled {
  background-color: #00263b;
  border-color: rgb(0, 38, 59);
  color: #fce8e1;
}
#top-visual li button.nonpushed:disabled {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

#top-visual-scroll {
  text-align: center;
  padding-top: 20px;
  animation: flash 1.5s linear infinite;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
#top-visual-scroll p {
  font-size: 16px;
  padding: 10px 0px;
  display: inline-block;
}

.fadeIn {
  animation: fadeIn 1s ease 0.5s 1 normal;
  animation-delay: 0s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  width: 100%;
}
section {
  width: 100%;
  margin-top: 50px;
}

.contents {
  width: 90%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  border-radius: 20px;
  flex-direction: column;
}

.like,
.profile {
  align-items: flex-end;
}

.garally .section-sentences {
  margin-left: 10%;
  width: 90%;
}

.section-image {
  width: 100%;
}

.section-sentences {
  width: 90%;
  padding: 20px;
  height: 100%;
  background: rgb(18, 65, 114);
  background: linear-gradient(
    180deg,
    rgba(252, 232, 225, 0.8) 0%,
    rgba(252, 232, 225, 1) 100%
  );
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  /* border-bottom: solid 3px rgb(18, 65, 114);
  border-right: solid 3px rgb(18, 65, 114); */
  position: relative;
  top: -50px;
}

.section-image img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  filter: saturate(1.8) opacity(0.7);
}
#section-slide {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
}

#slide-imgs {
  display: flex;

  animation: loop-slide 30s infinite linear 1s both;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#slide-imgs li img {
  height: 100%;
}

footer {
  padding: 20px 0;
  background-color: #00263b;
  margin-top: 20px;
}
footer p {
  color: #fce8e1;
  font-size: 16px;
}

#back {
  text-align: center;
}

#back a {
  color: #fce8e1;
}

#back button {
  border: solid 3px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
}

#back button:hover {
  background-color: #fce8e1;
  border-color: #fce8e1;
  color: #00263b;
}

/* pc */

@media screen and (min-width: 801px) {
  #top-visual ul {
    flex-direction: row;
    top: 130px;
  }

  #top-visual li {
    width: 30%;
    margin: 0 0 0 10px;
  }
  .section-image {
    padding-right: 10%;
  }
  .section-image img {
    height: 600px;
  }
  #section-slide {
    width: 90%;
  }
  #slide-imgs li {
    height: 600px;
  }
}

/* sp */

@media screen and (max-width: 800px) {
  #top-visual ul {
    flex-direction: column;
    top: 20px;
  }

  #top-visual li {
    width: 80%;
    margin: 10px 0 0 0;
  }
  .section-image {
    padding-right: 0;
  }
  .section-image img {
    height: 350px;
  }
  #section-slide {
    height: 350px;
    width: 100%;
  }
  #slide-imgs li {
    height: 350px;
  }
}
